.checkbox, .checkmark {
    --box-unchecked: #536607;
    --box-checked:  #CA69FF;
    --checkmark: #4D3D55;
    --checkmark-shadow: #f2d9ff;
    --box-active: #e1ff68;
}

.checkbox {
    position: relative;
    display: block;

    height: 56px;
    padding-left: 71px;
    border-radius: 100px 0 0 100px;

    cursor: pointer;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    
    height: 0;
    width: 0;

    cursor: pointer;
}

.checkmark {
    background-color: var(--box-unchecked);

    position: absolute;
    top: 15px;
    left: 15px;

    height: 25px;
    width: 25px;

    border-radius: 100px;

    transition: all 0.1s ease-out;
}

.checkbox:hover input ~ .checkmark {
    background-color: var(--box-active);
    box-shadow: inset 0 0 5px 1px var(--box-unchecked);
}

.checkbox:active input ~ .checkmark {
    background-color: var(--box-unchecked);
    box-shadow: inset 0 0 5px 1px var(--box-unchecked), inset 0 0 5px 8px var(--box-active);
}

.checkbox input:checked ~ .checkmark {
    background-color: var(--box-checked);
    box-shadow: inset 0 0 5px 1px var(--checkmark);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid var(--checkmark);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);

    filter: drop-shadow(0 0 5px var(--checkmark-shadow));
}